.banner {
    height: calc(100vh - 64px);

    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    &.image-1 {
        background-image: url('/images/app/beer-1.jpg');
    }
}